<!DOCTYPE html>

<html>
	<head>
		<title>Page Title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
		<link type="text/css" rel="stylesheet" href="/css/app.css"> 
	</head>

	<body>